/*CSS dos filmes e séries em destaque*/
.filmes-destaque, .series-destaque{
    width: 100%;
    height: 30vh;

    padding-left: 4vw;
    display: flex;
    justify-content: space-around;
}

.numero-top-tres >p   /*Faz contorno nos numeros*/
{
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: gray;
}

.filmes-home, .series-home{
    display: flex;
    padding-top: 30px;
}

.titulo-top-tres-filmes{
    padding-top: 3vh;
    margin-left: 3vw;
}

.titulo-top-tres-series, .titulo-trailers-em-breve {
    padding-top: 1.8vh;
    margin-left: 3vw;
}

.numero-top-tres {
    margin-right: -34px;
    margin-top: -30px;
    font-size: 12em;
    color: white;
}

.imagem-top-tres-home{
    width: 280px;
    height: 141px;
}

.imagem-top-tres-home > img{
    max-width: 100%;
}

.imagem-top-tres-home:hover{
    transform: scale(1.1);  /*Aumenta em 10% as imagens*/
}

/* CSS para os trailers*/
.titulo-trailers-em-breve{
    margin-top: 2vh;
}

.trailers-em-breve{
    margin-top: 2vh;
    padding-bottom: 10vh;
}


.videos-trailers-em-breve{
    margin-top: 5vh;
    display: flex;
    justify-content: space-evenly;
}

.trailers{
    height: 317px;
    border:1px solid gray;
}

/*Tabela de beneficios de assinatura*/

.titulo-tabela-benificios{
    text-align: center;
}
.tabela-beneficios{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10vh;
    margin-top: 5vh;
}

.beneficios{
    color: white;
    border: white solid 1px;
    background-color: rgb(7, 7, 7);
}

.beneficios > thead{
    border: white solid 1px;
    background-color: rgb(32, 32, 32);
}

.beneficios > thead > tr >th{
    padding: 20px;
}

.coluna-body{
    margin-right: 20px;
}

.beneficios-colunas > img{
    
    border: white solid 1px;
}

.img-table{
    width: 100%;
    display: flex;
    justify-content: center;
}


