.categoria-titulo {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
  }

.categoria-series {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.categoria-series a {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 50px;
    margin-bottom: 50px;
    margin-top: 10px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.categoria-series a:hover img {
    transform: scale(1.1);
}
  
.categoria-series a img {
    width: 250px;
    height: 375px;
    transition: all 0.2s ease-in-out;
}

.categoria-series a span {
    margin-top: 10px;
    font-weight: bold;
    color: #fff;
}
  
.categoria-series a small {
    color: #ccc;
    font-size: 14px;
}

.categoria-series a .detalhes {
    margin-top: 20px;
}
  
.titulo-filme{
    text-align: center;
}